@charset "utf-8";
/* CSS Document */

padding{
	margin-right:15px;
	margin-left:15px;
	padding-top:75px;
	display:block;
}
body{
	margin:0px;
	overflow:scroll;
	
}
.floatright
{float:right}
.floatleft
{float:left}

navbar{
	height: 75px;
	width: 100%;
	max-width: 1300px;
	display: block;
	background-color:#0b0b0b;
	position:fixed;
	z-index: 51;
	
}

navbarbackground{
	width: 100%;
	height: 75px;
	display: block;
	background-color:#0b0b0b;
	float: left;
	z-index: 50;
	position:fixed;
 }


logo {
	display: block;
	height: 100%;
	float: left;
	padding-left: 10px;
	
}


.logosize{	
	width: 50%; 
	height: auto;
	padding-top: 17px;
	
}
	


.logosvg {
	fill: #ec008c;
	width: 30px;
	height: auto;
	
}




/*PORTFOLIO*/
row1{
	height:350px;
	width:100%;
	margin-top: 30px;
	display:inline-block;
	-moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
	overflow:hidden;	
	float:left;
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center;
}

.futuresong{
	background-image:url(../images/futuresong.jpg);
}



row2{
	height:250px;
	width: 48%;
	margin-top: 30px;
	display:inline-block;
	-moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
	overflow:hidden;	
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center;
	float:right;
	
}

.row2-1{
	float:left;
	background-image:url(../images/peugeot.jpg);
	margin-right: 4%;
	border: 5px;
	border-color: #b8293a;
	border-style: solid;
}

.row2-2{
	float:right;
	background-image:url(../images/gracemay.jpg);
}


row3{
	height:250px;
	margin-top: 30px;
	display:inline-block;
	float: right;
	-moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
	overflow:hidden;	
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center;
}


.row3-1{
	float:left;
	background-image:url(../images/syachi.jpg);
	margin-right: 4%;
	width:31%;
	
}

.row3-2{
	float:left;
	background-image:url(../images/radial.jpg);
	margin-right: 4%;
	width:30%;
}

.row3-3{
	float:left;
	background-image:url(../images/cyber.jpg);
	width:31%;
}

.animated{
	  transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2s;}



/*LIST*/

ul.topnav {
   list-style-type: none;
    margin: 0;
    padding: 0;
	height: 100%;
	font-family: 'Overpass', sans-serif;
	font-size:12pt;
	overflow:visible;
	margin-right:15px;
}

.icon{
	visibility:hidden;
}

.currentpage{
	color:#ec008c;
	font-weight:800;
}

li{
    float: right;
	padding-top: 14px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ec008c;
	height: 100%;
	top: auto;
	bottom: auto;
	display: block;
}



footer{
	width:100%;
	height: 200px;
	display:inline-block;
	background-color:#e5160e;
	margin-top:30px;

}



@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
	
	/*nav*/
	
	ul.topnav {
   list-style-type: none;
    margin: 0;
    padding: 0;
	height: 100%;
	text-align:center;
	font-family: 'Overpass', sans-serif;
	font-size:12pt;
	overflow:visible;
	
	
}
	
	.icon{
	visibility:visible;
}

  ul.topnav li {display: none;}
  
  ul.topnav li.icon {
    float: right;
    display: inline-block;
	overflow:visible;
  }
    ul.topnav.responsive {position:absolute;
	width:100%;
	
	
	}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
	overflow:visible;


  }
  
  
  
  ul.topnav.responsive li {
    float: none;
    display: block;
	overflow:visible;
  	background-color:#0b0b0b;

  }
  
  ul.topnav.responsive li a {
    display: block;
    text-align: center;
	
  }

	
/*folio*/
		
	row1{
	margin-top:10px;
		height:250px;
			margin-bottom:10px;
	}
		
	row2{
	margin-top:0px;
			height:250px;
				margin-bottom:10px;
			
	}
	
	row3{
	margin-top:0px;
			height:250px;
				margin-bottom:10px;
	}
	
.row2-1{
	float:right;
	
	width:100%;
	clear:both;
	margin-right: 0px;
		margin-bottom:10px;
}
	.row2-2{
	float:right;

	clear:both;
	width:100%;
	margin-right: 0px;
		margin-bottom:10px;
}
	
	.row3-1{
	float:right;
	width:100%;
	clear:both;
	margin-right: 0px;
		margin-bottom:10px;
}
	.row3-2{
	float:right;
	clear:both;
	width:100%;
	margin-right: 0px;
		margin-bottom:10px;
}
	
	.row3-3{
	float:right;
	clear:both;
	width:100%;
	margin-right: 0px;
	margin-bottom:10px;
}
	
	
	
	
	


}