@charset "utf-8";
/* CSS Document */


/*nav*/
.logosvg {
	fill: #e5160e;

}

li a:hover {
    background-color: #e5160e;
}

.currentpage{
	color:#e5160e;
	font-weight:800;
}





/*Image*/
headerbg{
	background-color:#121212;
	display:block;
	overflow:hidden;
	width:100%;

}


projectimg{
	width:100%;
	height:725px;
	max-width: 1120px;
	margin-right:auto;
	margin-left:auto;
	margin-top:30px;
	margin-bottom:30px;
	display:inline-block;
	-moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
	overflow:hidden;	
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center;
	background-image:url(../images/futuresong.jpg);
}

/*Content Images*/
images{
	display: inline-block;
	max-width: 1120px;
	min-height: 500px;
	margin-right:auto;
	margin-left:auto;
	margin-top:2px;
	margin-bottom:30px;
	-moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
	overflow:hidden;	
}

img{
	max-width:100%;overflow:hidden;	}


h2 {
	font-size:1.5em;
	font-family: "alternate-gothic-no-3-d";
	color: #e5160e;
	margin-right: 10px;
	margin-left:10px;
}










/*title*/
titlecontainer{
	margin-top: 30px;
	height:auto;
	display:inline-block;
}

title{
	float:left;
}



.h1{
	font-size:3em;
	font-family: "alternate-gothic-no-3-d";
	color: #e5160e;
	line-height: 0.9em
}



/*stats*/

statcontainer{
	float:right;
}

statinner{
	text-align:left;
		width: 200px;
	display:inline-block;
	float:left;
	
}
h3 {

	font-size:1em;
	font-family: "alternate-gothic-no-3-d";
	color: #e5160e;
	line-height: 0.2em;	
	
}

.statp{
	line-height: 1em;
}


p{
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;

	-moz-column-count: 2;
	-moz-column-gap: 20px;
 
	column-count: 2;
	column-gap: 20px;

	-webkit-column-width: 200px;
	-moz-column-width: 200px;
	column-width: 200px;
	font-family: 'Overpass', sans-serif;
	line-height: 1.7em;
	margin-right: 10px;
	margin-left:10px;
	color:#0f0f0f;
}














@media screen and (min-width : 320px) and (max-width : 720px) {
	
	projectimg {
		height:45vh;
		width:100vw;
		background-size: contain;
		margin-top:0px;
		margin-bottom:30px;

	}
	
	images{
		width:100vw;
	}
	
	p{
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
	}

}